<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>
<table>
  <tr>
    <th (click)="sortBy('num')">No.</th>
    <th (click)="sortBy('name')">Name</th>
    <th><span (click)="sortBy('club')">Club</span>
      <ul>
        <li *ngFor="let club of clubs" (click)="filterBy(club)">{{club}}</li>
      </ul>
    </th>
    <th (click)="sortBy('free')">free</th>
    <th (click)="sortBy('rope')">rope</th>
    <th (click)="sortBy('total')">total</th>
  </tr>
  <tr *ngFor="let g of gymnastsToShow">
    <td>{{g.num}}</td>
    <td>{{g.name}}</td>
    <td>{{g.club}}</td>
    <td>{{g.free || 'N/A'}}</td>
    <td>{{g.rope || 'N/A'}}</td>
    <td>{{g.total}}</td>
  </tr>
</table>
